<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InvoiceServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="InvoiceServiceSoapBinding1" />
                <binding name="SessionServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SessionServiceSoapBinding1" />
                <binding name="UploadInvoiceServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="UploadInvoiceServiceSoapBinding1" />
                <binding name="LocalServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://test3.esf.kgd.gov.kz:8443/esf-web/ws/api1/InvoiceService"
                binding="basicHttpBinding" bindingConfiguration="InvoiceServiceSoapBinding"
                contract="InvoiceService.InvoiceService" name="InvoiceServicePort" />
            <endpoint address="https://test3.esf.kgd.gov.kz:8443/esf-web/ws/api1/SessionService"
                binding="basicHttpBinding" bindingConfiguration="SessionServiceSoapBinding"
                contract="SessionService.SessionService" name="SessionServicePort" />
            <endpoint address="https://test3.esf.kgd.gov.kz:8443/esf-web/ws/api1/UploadInvoiceService"
                binding="basicHttpBinding" bindingConfiguration="UploadInvoiceServiceSoapBinding"
                contract="UploadInvoiceService.UploadInvoiceService" name="UploadInvoiceServicePort" />
            <endpoint address="http://localhost:6666/LocalService" binding="basicHttpBinding"
                bindingConfiguration="LocalServiceSoapBinding" contract="SignatureService.LocalService"
                name="LocalServicePort" />
        </client>
    </system.serviceModel>
</configuration>